body {
  min-height: 100%;
  background-color: #0e0e0e;
  font-family: 'Roboto', sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-items: center;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  font-size: 16px;
  padding: 0 1em;
}

.menu {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
}

label {
  font-size: 1.625em;
  color: #e31c3a;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu {
  left: 0;
  z-index: 5;
  transition: left 300ms ease-in-out;
}

#toggle:checked ~ .backdrop {
  left: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: aquamarine;
  z-index: 4;
  opacity: 50%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0e0e0e;
}

a:hover {
  background-color: grey;
  color: #ffffff;
}

.section-one {
  width: 100%;
}

.big-title {
  font-size: 3em;
  font-weight: bolder;
  line-height: 1.3em;
  margin-bottom: 0.2em;
}

.redSpan {
  color: #e31c3a;
}

img {
  width: 100%;
  height: auto;
}

.email {
  margin-top: 2em;
  border: 1px solid #e31c3a;
  border-radius: 4px;
  background-color: #ffe6ee;
  padding: 0.8em;
  color: #080808;
  outline: none;
}

button {
  margin: 1em 0;
  border: 1px solid #e31c3a;
  border-radius: 4px;
  background-color: #e31c3a;
  padding: 0.8em;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    width: 250px;
    height: calc(100% - 40px);
    position: absolute;
    left: -250px;
    top: 40px;
    background-color: aqua;
    transition: left 300ms ease-in-out;
  }
  a {
    padding: 10px;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 769px) {
  .mainContainer {
    padding: 0 3em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    margin-bottom: 2em;
  }

  label {
    display: none;
  }

  a {
    padding: 10px;
    border-radius: 4px;
    margin-left: 20px;
  }

  a:last-child {
    background-color: #e31c3a;
    color: #ffffff;
  }

  .section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .section-one .part-one {
    margin-right: 1.3em;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .big-title {
    font-size: 4em;
    line-height: 1.1em;
  }
}

@media only screen and (min-width: 992px) {
  .mainContainer {
    width: 80%;
  }
}

@media only screen and (min-width: 1368px) {
  .mainContainer {
    width: 60%;
  }
}
