html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #0e0e0e;
  font-family: 'Roboto', sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-items: center;
  width: 60%;
  background-color: #ffffff;
  height: 100vh;
}
